body {
    height: 100vh;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    background-color: ghostwhite;
    color: rgb(50, 55, 59);
}
p {
    font-size: 2rem;
    align-self: start;
    margin: 0 1.2vw;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-container > div {
    background-color: inherit;
}
#inputtable {
    padding: 15px 5px;
}
table {
    width: 100%;
}
tr {
    height: 5vh;
}
th {
    text-align: start;
    padding-right: 15px;
}
input[type=number]{
    height: 27px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    color: seagreen;
}
.button {
    align-items: center;
    justify-content: center;
    margin: 0.5em 0.9em;
    background-color: rgb(63, 63, 63);
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px;
    border: 2px solid rgb(63, 63, 63);
    transition: 220ms all ease-in-out;
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    font-size: 1.4rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}
.button:hover {
    background-color: rgb(83, 83, 83);
    color: rgb(233, 255, 244);
    border-radius: 8px;
}
.button:active {
    background-color: rgb(0, 0, 0);
}
#asetukset{
    display: none;
}